Repository ansys/pymechanical-examples, pull requests merged in 2024-01, with the labels that each got.

#155 Update license
  LICENSE
Labels: maintenance

#163 Update image version from 23.2.0 to 24.1.0
  .github/workflows/ci_cd.yml
Labels: maintenance

#34 LS-Dyna example
  .codespellrc
  .gitignore
  doc/source/conf.py
  examples/basic/example_08_lsdyna_taylor_bar.py
Labels: documentation, maintenance

#50 Feat/Added Example 09 - trace mapping
  examples/basic/example_09_tracemapping.py
Labels: documentation
